body {
	font-size: 16px;
	color: #000;
	background: #E7E7E7;
	font-family: 'Comic Neue', cursive;
}

/** HEADER **/
#header-nav {
  background-color: #000359;
  border-radius: 0;
  border: 0;
}
/*.navbar-brand {
  padding-top: 20px;
}*/
.navbar-brand h1 { /* Company name */
  color: white;
  font-size: 1.75em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 0px;
  margin-bottom: 0px;
}
#nav-list a {
  color: #fff;
  background-color: #ff8400;
  text-align: center;
  font-weight: bold;
  font-size: 1.25em;
}
#nav-list a:hover {
  background: #e7e7e7;
  color: #ff8400;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #fff;
}
/*.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}*/
/* END HEADER */

/* HOME PAGE */
#main-content, .container h2 {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;

}
.menu {
  padding: 5px 10px 5px 10px;
  margin-bottom: 20px;
}
.menu h3 {
  text-align: center;
  font-weight: bold;
}

#chicken {
  background-color: #ff4500;
  color: white;
}
#beef {
  background-color: darkgreen;
  color: white;
}
#sushi {
  background-color: #000359;
  color: white;
}

/*#backtotop{
  margin-left: 20px;
}*/

/* END HOME PAGE */



